{% extends 'index/layout.html' %}
{% block body %}
<div class="container">
    <form class="box box-shadow margin-top-bottom" method="POST" action = "{% url 'login' %}">
        <div class="form-group">
            <h1 class="box-title">Login user</h1>
            <p class="form-error">{{message}}</p>
            {% csrf_token %}
        </div>
        <div class="form-group form-animate">
            <p class="form-label">Username</p>
            <input type="text" class="input-animate" required name="username">
            <span class="input-onFocus"></span>
        </div>
        <div class="form-group form-animate">
            <p class="form-label">Password:</p>
            <input type="password" name="password" class="input-animate" required>
            <span class="input-onFocus"></span>
        </div>
        <div class="form-group">
            <p class="form-label">Don't have account yet? <a class="link" href = "{% url 'register' %}">Register</a></p>
            <input type="submit" value="Login" class="btn btn-dark form-control">
        </div>
    </form>
</div>
{% endblock %}