{% extends 'index/layout.html' %}
{% load static %}
{% load get_property %}
{% load generate_color %}
{% load count %}
{% block title %}{{form.title}}'s response ~ Google Forms CLONE{% endblock %}
{% block script %}
<script src="{% static 'index/responses.js' %}" defer></script>
<script src="{% static 'lib/cookie.min.js' %}"></script>
{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="form-topnav">
        <a href = "/">
            <img src = "{% static 'Icon/icon.png' %}" alt = "Google Forms Icon(CLONE)" class="navbar-icon form-icon" title = "Forms" />
        </a>
        <span class="nav-text nav-form-title input-form-title">{{form.title}}</span>
        <div class="float-right">
            <img src="{% static 'Icon/theme.png' %}" alt="Theme icon" id="customize-theme-btn" title = "Customize theme" class="nav-form-menu-icon" />
            <a href="{% url 'view_form' form.code %}">
            <img src="{% static 'Icon/eye.png' %}" alt="Preview icon" title = "Preview" class="nav-form-menu-icon big-screen" />
            </a>
            <img src="{% static 'Icon/send.png' %}" alt ="Send icon" title = "Send" class="nav-form-menu-icon small-screen" id="send-form-btn" />
            <img src="{% static 'Icon/setting.png' %}" alt="Setting icon" title = "Setting" class="nav-form-menu-icon open-setting" />
            <button class = "btn send-form-btn big-screen" title = "Send" id="send-form-btn">Send</button>
        </div>
    </div>
    <div class="form-topnav">
        <div class="form-navigation center">
            {% if form.is_quiz %}
            <span class="col-4 navigation"><a href = "{% url 'edit_form' form.code %}" class="link">Questions</a></span>
            <span class="col-4 navigation score"><a href="{% url 'score' form.code %}" class="link">Scores</a></span>
            <span class="col-4 navigation active">Responses</span>
            {% else %}
            <span class="col-6 navigation"><a href = "{% url 'edit_form' form.code %}" class="link">Questions</a></span>
            <span class="col-6 navigation active">Responses</span>
            {% endif %}
        </div>
    </div>
    <div class="container">
        <span id="bg-color" style="display: none;">{{form.background_color}}</span>
        <span id="text-color" style="display: none;">{{form.text_color}}</span>
        <div class="margin-top-bottom box question-box" id="responses">
            {% if responses.count > 0 %}
            <h1 class="response-title">Individual Response:</h1>
            <ul>
                {% for i in responses %}
                    {% if form.collect_email %}
                        <li><a href = "{% url 'response' form.code i.response_code %}" class="link">{{i.responder_email}}'s response</a></li>
                    {% elif form.authenticated_responder %}
                        <li><a href = "{% url 'response' form.code i.response_code %}" class="link">{{i.responder.username}}'s response</a></li>
                    {% else %}
                        <li><a href = "{% url 'response' form.code i.response_code %}" class="link">{{i.responder_ip}}'s response</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
            <button class="btn btn-danger" id="delete-responses">Delete all responses</button>
            {% else %}
            <h1 class="response-title">0 responses</h1>
            {% endif %}
        </div>
        <div class="margin-top-bottom box question-box">
            <h1 class="response-title">Questions Summary:</h1>
            {% for r in responsesSummary %}
            <div class="response-summary">
                <h3 class="response-summary-title">{{r.question.question}}</h3>
                {% if r.answers|count > 0 or filteredResponsesSummary|get_property:r.question.question|count > 0 %}
                    {% if r.question.question_type == 'short' or r.question.question_type == 'paragraph' %}
                        {% for i in r.answers %}
                            <blockquote>{{i.answer}}</blockquote>
                        {% endfor %}
                    {% else %}
                            <canvas id="myChart{{r.question.id}}" class="pie-chart"></canvas>
                            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
                            <script>
                                Chart.defaults.global.defaultFontFamily = "Roboto";
                                Chart.defaults.global.defaultFontSize = 30;
                                var ctx = document.getElementById("myChart{{r.question.id}}");
                                let chartData{{r.question.id}} = {labels: [{% for i in filteredResponsesSummary|get_property:r.question.question %}"{{i}}",{% endfor %}], 
                                datasets: [{
                                    data: [{% for i in filteredResponsesSummary|get_property:r.question.question %}{{filteredResponsesSummary|get_property:r.question.question|get_property:i}},{% endfor %}],
                                    backgroundColor: [{% for _ in filteredResponsesSummary|get_property:r.question.question %}"{{0|generate_color}}",{% endfor %}],
                                }]}
                                new Chart(ctx, {type: 'pie', data: chartData{{r.question.id}}, options: {responsive: true}});
                            </script>
                    {% endif %}
                {% else %}
                <blockquote><i>No responses</i></blockquote>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    <div class="question-options">
        <a href="{% url 'view_form' form.code %}">
            <img src = "{% static 'Icon/eye.png' %}" class = "form-option-icon" title = "Preview" alt = "Preview icon" />
        </a>
        <a href="{% url 'edit_form' form.code %}">
            <img src="{% static 'Icon/question.png' %}" alt="Edit Question" title="Edit this form" class="form-option-icon">
        </a>
        {% if form.is_quiz %}
        <a href = "{% url 'score' form.code %}" id="add-score">
            <img src = "{% static 'Icon/score.png' %}" class = "form-option-icon" title = "Add score" alt = "Score icon" />
        </a>
        {% endif %}
    </div>
    <div class="modal" id="customize-theme">
        <div class="modal-content">
            <span class="modal-close-btn" id="close-customize-theme">&times;</span>
            <h1 class="modal-title">Theme options</h1>
            <h3 class="modal-subtitle">Background Color:</h3>
            <input type="color"  value = "{{form.background_color}}" list="bgColors" class="form-control" id="input-bg-color" />
            <datalist id="bgColors">
                <option value="#03a9f4"></option>
                <option value="#00bcd4"></option>
                <option value="#7ff0e7"></option>
                <option value = "#e1d8f1"></option>
                <option value = "#d1c4e9"></option>
                <option value = "#f6f6f6"></option>
                <option value="#f1f3f4"></option>
                <option value="#9aa0a2"></option>
                <option value="#d8ef89"></option>
            </datalist>
            <h3 class="modal-subtitle">Text Color:</h3>
            <input type="color"  value = {{form.text_color}} list="textColors" class="form-control" id="input-text-color" />
            <datalist id="textColors">
                <option value="#db4437"></option>
                <option value="#673ab7"></option>
                <option value="#3f51b5"></option>
                <option value="#4285f4"></option>
                <option value="#03a9f4"></option>
                <option value="#00bcd4"></option>
                <option value="#8a8a8a"></option>
                <option value="#4c3d45"></option>
                <option value="#272124"></option>
            </datalist>
        </div>
    </div>
    <div class="modal" id="setting">
        <div class="modal-content txt-clr">
            <form id="setting-form">
                <span class="modal-close-btn" id="close-setting">&times;</span>
                <h1 class = "modal-title">Setting</h1>
                <h4 class="setting-preview-form small-screen"><a href="{% url 'view_form' form.code %}">Preview form here</a></h4>
                <div class="modal-division">
                    <div class="form-group">
                        <h3 class="modal-subtitle">General</h3>
                        <input type="checkbox" id="collect_email"{% if form.collect_email %} checked {% endif %}>
                        <label for="collect_email" class="setting-form-label">Collect email address</label>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" id="is_quiz" {% if form.is_quiz %} checked {% endif %}>
                        <label for="is_quiz" class="setting-form-label">Make this as a quiz</label>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" id="authenticated_responder" {% if form.authenticated_responder %} checked {% endif %}>
                        <label for="authenticated_responder" class="setting-form-label">Respondent account must be authenticated. (Signed in required)</label>
                    </div>
                </div>
                <div class="modal-division">
                    <div class="form-group">
                        <h3 class="modal-subtitle">Confirmation message:</h3>
                        <textarea rows="1" class="confirmation-msg-input edit-on-click textarea-adjust" spellcheck="false"
                         id="comfirmation_message">{{form.confirmation_message}}</textarea>
                    </div>
                </div>
                <div class="modal-division">
                    <div class="form-group">
                        <h3 class="modal-subtitle">Respondents can:</h3>
                        <input type="checkbox" id="edit_after_submit" {% if form.edit_after_submit %}checked{% endif %}>
                        <label for="edit_after_submit" class="setting-form-label">Edit after submit</label>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" id="allow_view_score" {% if form.allow_view_score %}checked{% endif %}>
                        <label for="allow_view_score" class="setting-form-label">View score</label>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="form-control btn btn-save-setting">
                    </div>
                </div>
            </form>
            <form id="delete-form" class="modal-division">
                <fieldset class="form-group">
                    <legend class="modal-subtitle text-danger danger-zone">Danger Zone</legend>
                    <h3 class="delete-form-title">Delete this form</h3>
                    <p class="delete-form-description">Once you delete a form, there is no going back. Please be certain.</p>
                    <input type="submit" value="Delete" class="form-control delete-form-btn">
                </fieldset>
            </form>
        </div>
    </div>
    <div class="modal" id="send-form">
        <div class="modal-content">
            <span class="modal-close-btn" id="close-send-form">&times;</span>
            <h1 class = "modal-title">Send form</h1>
            <div class="modal-division">
                <h4 class="modal-subtitle">Link:</h4>
                <input type="url" class="form-control" value="http://{{request.get_host}}/form/{{form.code}}/viewform" copy-btn id="copy-url">
            </div>
            <button class="btn btn-submit" copy-btn>Copy</button>
        </div>
    </div>
</div>

{% endblock %}